[submodule "Carthage/Checkouts/xcconfigs-1"]
	path = Carthage/Checkouts/xcconfigs-1
	url = https://github.com/brentleyjones/xcconfigs-1.git
	ignore = dirty
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
	ignore = dirty
[submodule "Carthage/Checkouts/SwiftCheck"]
	path = Carthage/Checkouts/SwiftCheck
	url = https://github.com/typelift/SwiftCheck.git
	ignore = dirty
