//
//  Inherit from this xcconfig in the configuration specific ones for the
//  DiceKit framework.
//
//  Created by Brentley Jones on 7/12/15.
//  Copyright © 2015 Brentley Jones. All rights reserved.
//

#include "../Carthage/Checkouts/xcconfigs/UniversalFramework_Framework.xcconfig"

// Deployment versions
MACOSX_DEPLOYMENT_TARGET = 10.9
IPHONEOS_DEPLOYMENT_TARGET = 7.0
WATCHOS_DEPLOYMENT_TARGET = 2.0

// Safe in extensions
APPLICATION_EXTENSION_API_ONLY = YES
